@section Styles{
    <style>
        .Activity-container h4 {
            color: #35356c;
            border-bottom: 1px solid #35356c;
            padding-bottom:.5rem;
            padding-left:.5rem;
        }

        .historyContent div:hover span{
            color:inherit !important;
            transition:.2s ease-out;
        }

        .history_details{
            opacity:0;
            transition:.2s linear;
        }

        .historyContent > div:hover .history_details{
            opacity:1;
            transition: .2s linear;
        }
    </style>
}
<div class="container p-3 ps-4 Activity-container">
    <h4>Activity History</h4>
    <div class="historyContent">
        
    </div>
</div>

@section Scripts{
    <script>
        $(function(){
            getAllHistory();
        })
        function getAllHistory() {
            $.ajax({
                url: "/History/GetActivityHistory",
                type:"Get",
                success:function(res){
                    let html = `<p class="text-secondary text-center">No History Till Now</p>`;
                    if(res.length!=0){
                        res.sort((a, b) => b.aH_id - a.aH_id);
                        html = ``;
                        console.log(res);
                        $.each(res,function(index,value) {
                            if (value.aH_title.split(' ')[1] == "Updated") {
                                html += `<div class="mb-1 p-3 text-info bg-info bg-opacity-10 border border-info border-start-0 rounded-end d-flex justify-content-between">
                                                <span class="fw-bold text-dark">
                                                    ${value.aH_title} 
                                                    <a class="history_details btn btn-sm btn-outline-secondary ms-2" data-id="${value.aH_id}">Open Details</a>
                                                </span>
                                                <span class="text-secondary fst-italic">${value.aH_title.split(' ')[0]}</span>
                                            </div>`
                            }
                            if (value.aH_title.split(' ')[1] == "Added") {
                                html += `<div class="mb-1 p-3 text-success bg-success bg-opacity-10 border border-success border-start-0 rounded-end d-flex justify-content-between">
                                                <span class="fw-bold text-dark">
                                                    New ${value.aH_title}
                                                    <a class="history_details btn btn-sm btn-outline-secondary ms-2" data-id="${value.aH_id}">Open Details</a>
                                                </span>
                                                <span class="text-secondary fst-italic">${value.aH_title.split(' ')[0]}</span>
                                            </div>`
                            }
                            if (value.aH_title.split(' ')[1] == "Deleted") {
                                html += `<div class="mb-1 p-3 bg-danger text-danger bg-opacity-10 border border-danger border-start-0 rounded-end d-flex justify-content-between">
                                                <span class="fw-bold text-dark">
                                                    ${value.aH_title}
                                                    <a class="history_details btn btn-sm btn-outline-secondary ms-2" data-id="${value.aH_id}">Open Details</a>
                                                </span>
                                                <span class="text-secondary fst-italic">${value.aH_title.split(' ')[0]}</span>
                                            </div>`
                            }
                            if (value.aH_title.split(' ')[1] == "Recategorised") {
                                html += `<div class="mb-1 p-3 bg-secondary text-secondary bg-opacity-10 border border-secondary border-start-0 rounded-end d-flex justify-content-between">
                                                <span class="fw-bold text-dark">
                                                    ${value.aH_title}
                                                    <a class="history_details btn btn-sm btn-outline-secondary ms-2" data-id="${value.aH_id}">Open Details</a>
                                                </span>
                                                <span class="text-secondary fst-italic">${value.aH_title.split(' ')[0]}</span>
                                            </div>`
                            }
                        })
                    }
                    $(".historyContent").html(html);
                }
            })
        }
        $(".historyContent").on("click", ".history_details", function () {
            let index = $(this).data("id");
            window.location.href = "/History/ActivityDetails/"+index;
        })
    </script>
}