*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container{
    padding:.5rem;
}
.image_wrapper {
    height: 230px;
    width: 230px;
    border-radius: 100%;
    background-image: url('../people/image2.jpg');
    background-position:center center;
    background-size:cover;
    background-color: #bbb;
    /*margin-bottom:1rem;*/
    margin:0rem 1rem;
    overflow:hidden;
    position:relative;
}

input#ci2,input#ci {
    position:absolute;
    top:50%;
    left:40%;
    transform:translate(-50%,-50%);
    opacity:0;
}
input#ci{
    top:unset;
    bottom:0px;
}
#ci2-error {
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    color: red;
    text-align: center;
}
.image_wrapper label.cil {
    text-align: center;
    width: 100%;
    background-color: #9c5fff;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%,0%);
    padding: .2rem 0rem;
    text-transform: capitalize;
    font-family: 'MV Boli';
    color: #fff;
    opacity: 0;
    z-index: 5;
}
.image_wrapper:hover label.cil {
    opacity: 1;
}
.image_wrapper #iw_text_upl label.cil {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity:1;
    z-index:5;
    height:fit-content;
}
#toShowUploadImage{
    height:100%;
    width:100%;
    background-position:center center;
    background-size:cover;
    background-repeat:no-repeat;
}
.text_section {
    width: 90%;
    margin: .5rem 0rem;
    margin-bottom: 1.5rem;
}
.text_section ul {
    list-style: none;
    padding: 0px;
    width: 100%;
}
.text_section ul li{
    display:flex;
    width:100%;
    margin:.8rem 0rem;
}
.text_section ul li strong {
    margin-right: auto;
    color:#9c5fffff;
}
.text_section ul li span{
    margin-right:.5rem;
}
.text_section ul li i {
    opacity: 0.5;
    z-index: 10;
    color: gray;
}
.text_section ul li:hover i{
    opacity:1;
}
.text_section ul li i:hover{
    cursor:pointer;
}

.text_section ul li div{
    position:relative;
}
.text_section label.error {
    display: block;
    font-size: 10px;
    color: #9c5fffbb;
    text-align:right;
    position:absolute;
    right:0px;
}
.text_section ul li input{
    outline:none;
    border:none;
    background-color:transparent;
    border-bottom:1px solid #9c5fff9f;
}
.pro_con {
    /*background-color: #f4f4f4;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    border-radius: 6px;
    padding: 1.5rem;
    width: 25rem;
    flex-shrink:0;
    border:1px solid #ddd;
    /*flex-basis:25rem;*/
}
.main_wrap{
    padding:.5rem;
    display:flex;
    flex-direction:row;
    height:500px;
}
.pro_table {
    flex-basis: auto;
    width:100%;
}



@media (max-width:1400px){
    .main_wrap {
        display: flex;
        flex-direction: column;
        /*padding:1rem;*/
        height:unset;
    }
    .pro_con {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 1rem 0rem;
        width:100%;
    }
    .text_section {
        height: 100%;
        padding: .5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin:0rem 0rem;
    }
    .image_wrapper {
        height: 150px;
        width: 150px;
        border-radius: 10%;
        flex-shrink:0;
    }
    .text_section ul{
        margin-bottom:0.5rem;
    }
    .text_section ul li strong {
        display: inline-block;
        width: 8rem;
    }
    .text_section ul li{
        margin:.8rem 0rem;
        width:fit-content;
    }
    .text_section ul li span {
        display: inline-block;
        width: 12rem;
    }
}

@media (max-width:820px){
    .main_wrap{
        flex-direction:column;
        align-items:center;
    }
    .pro_con{
        font-size:14px;
    }
    .image_wrapper{
        height:120px;
        width:120px;
    }
    .text_section ul li strong{
        width:6rem;
    }
}
@media (max-width:740px){
    .text_section ul li span{
        width:9rem;
    }
}


