.c_img_box {
    width: 60%;
    max-width: 280px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    border: 3px solid #0004;
    border-radius: 10px;
}
#c_d_f_d{
    cursor:pointer;
}
.copy{
    background-color:red !important;
}
@media only screen and (max-width:767px) {
    .left h4,.heading h2 {
        font-size: calc(1rem + .8vw);
    }

    .rbs button, .rbs a{
        font-size:.8rem;
        padding: .3rem .5rem;
    }

    .heading-section{
        flex-wrap:wrap;
    }
}


@media only screen and (max-width:479px) {
    .heading-section {
        padding-top: .75rem;
        padding-bottom: 1rem;
        flex-direction: column;
    }
    .heading{
        width:100%;
        margin-bottom:.25rem;
    }
    .rbs{
        width:100%;
        justify-content:stretch !important;
       
    }

    .rbs button, .rbs a{
        font-size:.8rem;
        padding: .3rem .5rem;
        width:50%;
        margin:0!important;
        border-radius:0px;
    }

    #AdminCustomerTable_wrapper table th{
        font-size:.8rem;
    }
    #AdminCustomerTable_wrapper table td{
        font-size:.8rem;
    }
    #AdminCustomerTable_wrapper table td button{
        font-size:.8rem;
        padding:5px 8px;
    }
}

