*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html::-webkit-scrollbar {
    width: 6px;
    display:none;
}

html::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

html::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.wrapper{
    position:relative;
}
.menu-wrap {
    width: 280px;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    position: fixed;
    padding: 6px;
    display:flex;
    flex-direction:column;
    gap:6px;
}
.menubar {
    width: 100%;
    height: calc(100% - 4rem);
    border-radius: 10px;
    /*border: 1px solid #ddd;*/
    background-color: #1e1e2d;
}
.logo_section {
    height: 4rem;
    width: 100%;
    /*border-bottom:1px solid #030f39;*/
    padding: 0rem 2rem;
    display: flex;
    align-items: center;
    /*border: 1px solid #ddd;*/
    border-radius: 10px;
    background-color: #1e1e2d;
}
.menubar ul {
    padding: 0px 4px;
}
.menubar ul li{
    margin: .3rem 0rem;
    padding:0rem .7rem;
    list-style: none;
    /*border-radius: 7px;*/
}
.menubar ul li:hover{
    background-color:#2a2a3c;
}
.menubar ul li a{
    display:block;
    padding: .9rem 1rem;
    border-radius: 3px;
    font-weight:bold;
    text-decoration:none;
    color:rgb(98 110 140);
    display:flex;
    align-items:center;
    gap:1rem;
}
.active {
    background: #2a2a3c;
}
.active a{
    color:white !important;
}
.menubar ul li a i{
    font-size:1.3rem;
    font-weight:900;
}
.a-content{
    padding-top:calc(4rem + 6px + 6px);
    padding-left:280px;
    padding-right:6px;
}
.con{
    min-height:calc(100vh - 4rem - 18px);
    /*border:1px solid #ddd;*/
    border-radius:10px;
    padding-bottom:1rem;
   
}

.con form{
    scale:.99;
}

.adh {
    color: red;
}

.adh1 {
    color: #6610f2;
}

@media (min-width:768px) and (max-width:991px){
    .menu-wrap{
        width:230px;
    }
    .menubar {
        /*background-color:red;*/
        width: 100%;
    }
    .a-content {
        padding-left: 230px;
    }
    .menubar ul li a{
        padding: .5rem;
    }
    .menubar ul li {
        /*margin: .4rem .7rem;*/
    }
}

@media (max-width:767px){
    .logo_section{
        padding:1rem;
        background-color:transparent;
        border:none;
        border-radius:0px;
        border-bottom:1px solid #fff3;
    }
    .menu-wrap {
        display: none;
        position: absolute;
        width: 100%;
        justify-content: center;
        background-color: #1e1e2dee;
        height:100vh;
        position:fixed;
    }
    .menubar{
        background-color:transparent;
        border:none;
    }
    .menubar ul{
        background-color:transparent;
    }
    .menubar ul li a {
        justify-content: center;
    }
    .a-content {
        padding-left: .1rem;
        padding-top: 4.3rem;
        padding-right:.1rem;
    }
    .con{
        border:none;
        padding:.5rem;
        
    }
    /*------------------------blur background for small device open menu---------------------*/
    .contentBlur {
        filter: blur(7px);
        transition: .6s linear;
    }
    
}
@media only screen and (max-width:479px){
    .con{
        padding:0;
        border:none !important;
    }
    .adh1,.adh{
        font-size:.8rem;
    }
    .a-content{
        padding-top:3.8rem;
    }
}

@media (min-width:768px) {
    #menu-close{
        display:none;
    }
    #openMenu{
        display:none;
    }
   
}