
.top-wrap {
    position: absolute;
    width: calc(100vw - 280px);
    margin-left: 280px;
    margin-top: 6px;
    padding-right: 6px;
    top: 0px;
    left: 0px;
    position: fixed;
    height: 4rem;
    z-index: 1;
}

.topbar {
    width:100%;
    border-radius: 10px;
    /*border: 1px solid #ddd;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    /*background-color: #fff;*/
}
.ag{
    /*background-color:red;*/
}
.ag .rs span:first-child {
    line-height:1.3rem;

}
.ag .rs span:first-child a{
    text-decoration:none;
    font-weight:600;
    font-size:1rem;
    text-transform:capitalize;
}
.ag .rs span:nth-child(2){
    font-weight:500;
    font-size:.7rem;
    line-height:.9rem;
}
.a_img_box {
    width: 2.4rem;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    border: 3px solid #0d6efd;
}

@media (min-width:768px) and (max-width:991px) {
    .top-wrap {
        width: calc(100vw - 226px);
        margin-left: 226px;
        padding-left: 4px;
    }

    .topbar {
        margin-right:.5rem;
    }

    .logo_section {
        /*width: 220px;*/
    }
}

@media (max-width:767px) {
    .top-wrap {
        margin-left: .5rem;
        width: 100%;
        margin: 0;
        padding: 0 .1rem;
    }
    .rs {
        display: none !important;
    }
    .right .dropdown-toggle::after{
        display:none;
    }

    .topbar{
        padding-right:0px !important;
        padding-left:1rem !important;
    }

    .right .btn-group .btn.cb{
        outline:none;
        border:none;
        margin:0;
        padding:0;
    }
    .a_img_box:hover {
        border: 3px solid #607d8b;
    }
}
